.features{
    @extend %section;

&__list {
    @extend %list;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    row-gap: 30px;
    flex-basis: calc(1170 - (30*3)/4);
}

&__item:not(:last-child) {
    margin-right: 30px;
}

&__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    height: 120px;

    background-color: var(--secondary-bg-color);

    border-radius: 4px;
}

&__text {
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    line-height: 1.71;
    font-style: initial;
}
}

